@args psyco.coder.ast.gen.BuilderParam bp
/**
 * Created by peng on 15/10/7.
 */
public class @bp.builderClassName {

    private @bp.className obj;

    private @bp.builderClassName () {
    }

    public static @bp.builderClassName create() {
        return new @bp.builderClassName ();
    }

    public static @bp.builderClassName create(@bp.className obj) {
        @bp.builderClassName re = new @bp.builderClassName ();
        re.obj = obj;
        return re;
    }
    @for (dp.fields){
      @_.toString()
    }

    public @bp.className build() {
        return this.obj;
    }
}
